<!--employee password change template-->

{% extends "base.html" %}
{% load static %}

{% block title %}Change Password | FM Service Desk{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/employees.css' %}">
{% endblock %}


{% block content %}

<div class="page-header">

    <div>

        <h1>Change Password</h1>

        <p>
            Update the employee's account password
        </p>

    </div>

</div>


<div class="card password-card">

    <div class="password-header">

        <div class="password-avatar">
            {{ employee.first_name|first|upper }}
        </div>

        <div>

            <h2>
                {{ employee.first_name }}
                {{ employee.last_name }}
            </h2>

            <p>
                Employee account password
            </p>

        </div>

    </div>


    <div class="password-body">

        <form method="post">

            {% csrf_token %}


            <div class="password-fields">

                {% for field in form %}

                <div class="form-group">

                    {{ field.label_tag }}

                    {{ field }}

                    {% if field.help_text %}
                        <div class="field-help">
                            {{ field.help_text }}
                        </div>
                    {% endif %}

                    {% if field.errors %}
                        <div class="form-error">
                            {{ field.errors }}
                        </div>
                    {% endif %}

                </div>

                {% endfor %}

            </div>


            <div class="form-actions">

                <a
                    href="{% url 'employees:employee-list' %}"
                    class="btn btn-secondary">
                    Cancel
                </a>

                <button
                    type="submit"
                    class="btn btn-primary">
                    Change Password
                </button>

            </div>

        </form>

    </div>

</div>

{% endblock %}